.menu {
    position: absolute;
    width: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 20;
    background: #fff;
    &:after {
        content: '';
        bottom: 0;
        display: block;
        height: 2px;
        width: 100%;
        background: rgba(#000000, 0.3);
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__left,
    &__right {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        padding-right: 20px;
    }
    &__link {
        list-style-type: none;
        padding-right: 22px;
        a {
            text-decoration: none;
            font-size: 16px;
            transition: 0.3s all ease;
            position: relative;
            &:before {
                content: "";
                width: 0;
                height: 0.1em;
                position: absolute;
                bottom: 0;
                left: 50%;
                background: #000;
                transition: all 0.3s;
            }
            &:hover {
                &:before {
                    width: 100%;
                    left: 0;
                    background: #000;
                }
            }
        }
    }
    .logo {
        max-width: 40px;
    }
    .mastercard {
        max-width: 56px;
    }
    &__btn {
        cursor: pointer;
        border: 1px solid #000;
        border-radius: 50px;
        background: #fff;
        font-size: 18px;
        padding: 12px 32px;
        transition: 0.3s all ease;
    }
}