.shopping {
    &__list {
        display: flex;
        align-items: center;
        padding-top: 20px;
    }
    &__link {
        padding-right: 20px;
        &:last-child {
            padding: 0;
        }
    }
    .section__text-title {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
}