@import './base/libs';
@import './base/global';
@import './base/swiper';

* {
    font-family: 'Nunito', sans-serif;
    color: #222222;
}
html,
body {
    position: relative;
    height: 100%;
}

img {
    display: inline-block;
    width: 100%;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    width: 95%;
}

@import './block/menu';
@import './block/header';
@import './block/boost';

  

